APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/alur-paris/public

DB_HOST=localhost
DB_PORT=3306
DB_NAME=alur_paris
DB_USER=root
DB_PASSWORD=

STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=contact@alur.paris
SMTP_FROM_NAME=Alur Paris